<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title%> </title>
     
    <% include partials/head.html%>
  
</head>
<body>
    
    <% include partials/navigation.html%>
   
    <div class="section-img">
        <img src="img/pews-logo.png" class="animated bounceIn img-fluid" alt="">
    </div>

     
    <div class="container-fluid pt-3 mx-auto " id="about">
        <div class="row">
            <div class="col-md-6 text-center  text-white">
               <i class="fab fa-youtube fa-10x "></i>
            </div>

            <div class="col-md-6 ">
               <section class="text-center" >
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                       . Voluptatibus error facilis perspiciatis, nisi o
                       dio veniam provident, autem corporis accusamus rep
                       rehenderit libero! Doloremque expedita animi porro n
                       ihil labore aut fugiat nam!
                       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum assumenda facere eveniet quibusdam explicabo, tempora labore ipsam beatae dolorem pariatur, eum dignissimos suscipit quod iste voluptate! Minima molestiae unde atque.
                    </p>

               </section>
            </div>
        </div>
    </div>
   

  

    <% include partials/footer.html %>

    
    
  <script src="app.js"></script>
</body>

</html>